/* CSS RESETS */
html {
    font-size: 16px;
}
body {
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
}
* {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-top: 0;
}
img {
    max-width: 100%;
    width: 100%;
}
/* !______________________________________! */
/* COLOR STyLES */
.bg-lightgrey {
    background-color: rgb(246, 246, 246);
}
.bg-social{
    background-color: #464646;
}
.btn-color {
    background-color: rgb(48, 47, 47);
}
.red-box {
    background-color: rgb(255, 84, 68);
}
.purple-box {
    background-color: rgb(170, 45, 182);
}
.cyan-box {
    background-color: rgb(30, 194, 164);
}
.blue-box {
    background-color: rgb(39, 139, 224);
}
.box-shadow {
    background-color: 0px 1px 5px 1px rgba(50, 50, 50, .3);
}
.c-white {
    color: white;
}
/* !______________________________________________! */
/* BASIC STYLES */
.flex-count {
    display: flex;
}
.inner {
    width: 85%;
    margin: 0 auto;
}
.inner70 {
    width: 70%;
    margin: 0 auto;
}
.section {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
h2 {
    font-size: 2.2rem;
}
.uppercase {
    text-transform: uppercase;
}
.bold {
    font-weight: bold;
}
.center {
    text-align: center;
}
.btn {
    border-radius: 0.25rem;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s ease-out;
    font-size: 1.3rem;
}
.btn.uppercase.c-white:hover {
    background-color: rgb(0, 0, 0);
}
.btn.uppercase.c-white {
    background-color: rgb(26, 25, 25);
    padding: 1.8rem 3rem;
}
.inline-btn {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.8rem 1.3rem;
    background-color: #ccc9c9;
    color: black;
}
.inline-btn:hover {
    background-color: rgb(45, 45, 45);
    color: white;
}
.first-btn {
    padding: 0.8rem 1.3rem;
    color: white;
    background-color: black;
}
/* !_________________________________________________! */
/* NAVBAR STYLES*/
.menu .flex-count {
    justify-content: space-between;
    align-items: center;
}
.menu .logo {
    flex: 0 0 auto;
    font-size: 20px;
}
.menu ul {
    flex: 0 1 auto;
    margin-bottom: 0;
    padding-left: 0;
}
.flex-count ul li {
    display: inline-block;
}
.flex-count ul li:not(:last-child) {
   margin-right: 10px;
}
.flex-count a {
    text-decoration: none;
    color: black;
}
.menu {
    padding: 25px 0;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.main .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    text-align: center;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content > *:last-child {
    margin-right: 10px;
}
.hamb-menu {
    display: none;
    font-size: 2rem;
}
/* !_________________________________________________! */
/* HEADER STYLES*/
header {
    min-height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;
}
.title{
    font-size: 1.5rem;
}
.title > * {
    margin-bottom: 0;
    padding: 1rem;
}
.title > *:last-child {
    margin-top: 3rem;
}
/* !_________________________________________________! */
/* SECTION-ONE STYLES*/
.box-wrapper {
    flex-wrap: wrap;
    margin-right: -3rem;
    margin-bottom: -2rem;
}
.box-item {
    flex: 0 1 25%;
    margin: 0 auto;
}
.box-item .item-inner {
    margin-right: 3rem;
    padding: 3rem;
    border-radius: 0.5rem;
    font-size: 1.25rem;
}
.box-item .item-inner {
    margin-bottom: 2rem;
}
.box-item .item-inner p {
    margin-bottom: 0;
}
.big {
    font-size: 2.5rem;
}
/* ____________________*/
/* SECTION-TWO STYLES*/
.overlay.flex-count{
    flex-wrap: wrap;
    margin-right: -3rem;
}
.box-img {
    flex: 0 1 33.333%;
}
.box-img >* {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.box-img .inner-img {
    margin-right: 3rem;
    transition: all .2s ease-in-out;
}
.box-img .inner-img:hover {
    border: 2px solid black;
    transform: scale(1.05);
}
.box-img .inner-img .uppercase.center {
    margin-bottom: 0;
}
.inner-img.center {
    background-color: white;
}
.inner-img .uppercase.center {
    padding: 1rem 0rem;
    font-size: 1.2rem;
}
.pad {
    padding-top: 6rem;
    padding-bottom: 3rem;
}
/* ____________________*/
/* SECTION-THREE STYLES*/
.overlay-text.flex-count .text-lay {
    flex: 0 0 33.333%;
}
.box-text .text.flex-count img {
    flex: 0 0 8%;
    padding-right: 0.5rem;
    align-self: flex-start;
}
.text.flex-count {
    padding: 1rem;
}
.overlay-text.flex-count {
    margin-right: -3rem;
    padding-top: 6rem;
}
.text-lay .box-text {
    margin-right: 3rem;
}
/* ____________________*/
/* FOOTER STYLES*/
footer .social.section.bg-social {
    font-size: 1.8rem;
}
footer a:not(:last-child) {
    margin-right: 0.5rem;
}
footer i {
    transition: color .1s ease-in-out;
}
footer i:hover {
    color: rgb(45, 45, 45);
}
.copyright.flex-count {
    padding: 1.5rem 2rem;
    background-color: black;
    justify-content: space-between;
}
/* ____________________ */
/* MOBILE STYLES */
@media (max-width: 425px) {
    html {
        font-size: 10px;
   }
    .main {
        display: none;
   }
    .hamb-menu {
        display: block;
   }
    .box-item {
        flex-basis: 60%;
   }
    .overlay.flex-count {
        flex-direction: column;
   }
    .box-img {
        padding-top: 3rem;
   }
    .pad {
        margin-bottom: -3rem;
   }
    .d-none {
        display: none;
   }
    .overlay-text.flex-count .text-lay{
        flex-basis: 50%;
        font-size: 1.5rem;
        text-align: left;
        line-height: 2;
   }
    .box-text .text.flex-count img {
        padding-top: 1rem;
   }
    .copyright.flex-count {
        font-size: 0.9rem;
   }
}
